/*NavBar*/

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    width: 100%;
    position: fixed;
    top: 0;

}

#left {
    display: flex;
    font-family: "Changa", sans-serif;
    font-size: 32px;
    color: gray;
    padding-left: 24px;

}

#Colmar {
    font-weight: 700;
    color: darkslategrey;
    
}

#right {
    display: flex;
    padding-right: 24px;
    margin-left: auto;
    
}

#right a {
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    color: grey;
    text-decoration: none;
    transition: color 150ms ease-in 400ms;
    padding: 8px;
}

#right a:hover {
    color: black;
}

/*SignIn/Start Here*/

#SignIn {
    display: flex;
    margin-top: 64px;
    background-color: lightgray;
}

#banner {
    display: flex;
    height: auto;
    width: 80%;
    padding: 32px 24px;
  
}

#banner img {
    height: auto;
    width: 100%;
    
}

#slogan {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    font-family: "Josefin Sans", sans-serif;
    color: rgb(97, 88, 88);

}

#slogan h1 {
    font-size: 44px;
    font-weight: 700;
    color: rgb(39, 37, 37)
}

#slogan h2 {
    font-weight: 500;
    margin-bottom: 40px;
}

#button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    background-color:rgb(39, 37, 37);
    transition: background-color 400ms linear 400ms;
    
}

#button:hover {
    background-color: darkslategray;

}